@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  /* Couleurs de base */
  --color-base-100: oklch(99% 0.005 25);
  --color-base-200: oklch(96% 0.01 25);
  --color-base-300: oklch(92% 0.015 25);
  --color-base-content: oklch(22% 0.02 25);

  /* Primary - Pêche chaleureux */
  --color-primary: oklch(72% 0.19 50);
  --color-primary-content: oklch(18% 0.03 50);
  /* Secondary - Bleu océan */
  --color-secondary: oklch(0.6092 0.0858 210);
  --color-secondary-content: oklch(98% 0.01 250);

  /* Accent -  corail */
  --color-accent: oklch(68% 0.21 25);
  --color-accent-content: oklch(18% 0.03 25);

  /* Neutral */
  --color-neutral: oklch(44% 0.02 25);
  --color-neutral-content: oklch(98% 0.01 25);

  /* États */
  --color-info: oklch(58% 0.16 210);
  --color-info-content: oklch(98% 0.01 210);

  --color-success: oklch(58% 0.19 145);
  --color-success-content: oklch(98% 0.01 145);

  --color-warning: oklch(72% 0.16 50);
  --color-warning-content: oklch(18% 0.03 50);

  --color-error: oklch(60% 0.23 15);
  --color-error-content: oklch(98% 0.01 15);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

main {
  min-height: 100vh;
}
